[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-processing"]
	path = vim/bundle/vim-processing
	url = https://github.com/sophacles/vim-processing.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-xdebug"]
	path = vim/bundle/vim-xdebug
	url = https://github.com/ludovicPelle/vim-xdebug.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = git://github.com/plasticboy/vim-markdown.git
[submodule "vim/bundle/python-mode"]
	path = vim/bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "vim/bundle/scvim"]
	path = vim/bundle/scvim
	url = git://github.com/elatomo/scvim.git
[submodule "vim/bundle/vim-virtualenv"]
	path = vim/bundle/vim-virtualenv
	url = git://github.com/jmcantrell/vim-virtualenv.git
[submodule "vim/bundle/vim-qml"]
	path = vim/bundle/vim-qml
	url = git://github.com/peterhoeg/vim-qml.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "xresources"]
	path = xresources
	url = git://github.com/solarized/xresources.git
[submodule "bin/gnome-terminal-solarized"]
	path = bin/gnome-terminal-solarized
	url = git://github.com/sigurdga/gnome-terminal-colors-solarized.git
[submodule "dircolors"]
	path = dircolors
	url = git://github.com/seebi/dircolors-solarized.git
[submodule "vim/bundle/vim-snipmate"]
	path = vim/bundle/vim-snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "vim/bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/tlib-vim"]
	path = vim/bundle/tlib-vim
	url = git://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/snipmate-snippets"]
	path = vim/bundle/snipmate-snippets
	url = git://github.com/honza/snipmate-snippets.git
